html { height: 100%; font-size: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    /*font-weight: 100 !important;*/
    color: #282828;
    overflow: hidden !important;
}

iframe {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  overflow-y: hidden !important;
}

i {
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

i:hover, i:focus, i:active { opacity: 1; }



a {
	color: #282828;
	text-decoration: none;
}

.main {
	width: 90%;
	max-width: 76em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.rb-grid li {
	width: 24%;
	height: 15em;
	margin: 0.5%;
	background: #fff;
	color: #282828;
	display: block;
	float: left;
	padding: 1.6em;
	cursor: pointer;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  /*box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);*/

}

.rb-grid li.rb-span-2 {
	width: 49%;
}

.rb-grid li.rb-span-4 {
	width: 99%;
}

.rb-grid li h3 {
	font-size: 2.6em;
	font-weight: 100;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.rb-grid li h3:hover, .rb-grid li h3:focus, .rb-grid li h3:active {
	opacity: 1;
}

.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*margin-top: 2.7em;*/
	height: 100%;
	padding: 1%;
	background-color: #fff;
	z-index: -1;
	pointer-events: none;
	cursor: default;
	border: 3px solid rgba(0,0,0,.1);
	/*border-bottom: px solid #c4c4c4;*/
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	/*box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.24);*/
}

.rb-close {
	position: absolute;
	top: 0em;
	right: 1em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity: 0.5;
}

.rb-close:hover, .rb-close:focus, .rb-close:active {
	opacity: 1;
}


.rb-close::before {
	content: '×';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.8em;
	line-height: 1.6;
	text-align: center;
	text-indent: 0px;
}
/*
.rb-week {
	width: 100%;
	height: 100%;
}

.rb-week div {
	width: 10%;
	float: left;
	position: relative;
	padding: 3% 0;
}

.rb-week div:first-child {
	width: 100%;
}*/


.rb-week div span.subcategory {
	margin-top: 10%;
	margin-bottom: 10%;
	font-weight: 700;
	padding: 1% 10%;
	font-size: 2em;
	line-height: 1.2;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.rb-grid li .rb-week div {
	background-color: #fff;
}

.rb-grid li span {
  /*margin-top: 20px;*/
  display: block;
  font-size: 1.3em;
  /*font-weight: 700;*/
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
  /*display: block;*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

li:hover span, li:focus span, li:active span {
  opacity: 1;
}

li img {
	height: 100%;
	background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

li:hover img, li:focus img, li:active img {
	-webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.subcategory, h3 {
	/*color: #fff;*/
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	transition: all 0.9s ease;
}

@media screen and (max-width: 63.125em) {

	.rb-grid li,
	.rb-grid li.rb-span-2,
	.rb-grid li.rb-span-4 {
		width: 100%;
		height: 10em;
		text-align: left;
	}

	.rb-grid li div {
		text-align: center;
	}
}


/* SUB CATEGORY 2: GRID */


/* -- DEFAULTS -- */

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 20px;
}

#Grid li{
  display: inline-block;
  width: 23%;
  padding-top: 33%; /* Used instead of height to give elements fluid, width-based height */
	box-shadow: none !important;
	border-radius: 2px;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}

#Grid .placeholder{
  padding: 0;
}


/* 3 COL */

@media (max-width: 800px){
  #Grid li{
    width: 31%;
    padding-top: 31%;
    margin-bottom: 3%;
  }
}

/* 2 COL */

@media (max-width: 600px){
  #Grid li{
    width: 48%;
    padding-top: 48%;
    margin-bottom: 4%;
  }
}

/* SINGLE COL */

@media (max-width: 400px){
  #Grid li{
    width: 100%;
    padding-top: 100%;
    margin-bottom: 5%;
  }
}

#Grid li {
	-webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
}

#Grid li:hover {
	-webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.97);
}

#Grid li span {
	opacity: 1;
	font-weight: 100;
	font-size: 0.6em;
	color: #282828;
	background: rgba(255,255,255,0.8) !important;
	z-index: 999999;
	text-align: center;
	display: block;
}


#stepp1 {
	background-image: url('../images/stepp1.png');
}

#stepp2 {
	background-image: url('../images/stepp2.jpg');
}

#stepp3 {
	background-image: url('../images/stepp3.jpg');
}

#stepp4 {
	background-image: url('../images/stepp4.jpg');
}

#outdoor1, #parka1 {
	background-image: url('../images/outdoor1.jpg');
}

#outdoor2 {
	background-image: url('../images/outdoor2.jpg');
}

#outdoor3 {
	background-image: url('../images/outdoor3.jpg');
}

#outdoor4 {
	background-image: url('../images/outdoor4.jpg');
}

#daunen1 {
	background-image: url('../images/daunen1.jpg');
}

#daunen2 {
	background-image: url('../images/daunen2.jpg');
}

#daunen3 {
	background-image: url('../images/daunen3.jpg');
}

#daunen4 {
	background-image: url('../images/daunen4.jpg');
}

#biker1, #leder2 {
	background-image: url('../images/biker1.jpg');
}

#biker2, #leder3 {
	background-image: url('../images/biker2.jpg');
}

#biker3, #leder4 {
	background-image: url('../images/biker3.jpg');
}

#biker4 {
	background-image: url('../images/biker4.jpg');
}

#leder1 {
	background-image: url('../images/leder1.jpg');
}

#parka2 {
	background-image: url('../images/parka2.jpg');
}

#parka3 {
	background-image: url('../images/parka3.jpg');
}

#parka4 {
	background-image: url('../images/parka4.jpg');
}

#funktion1 {
	background-image: url('../images/funktion1.jpg');
}

#funktion2 {
	background-image: url('../images/funktion2.jpg');
}

#funktion3 {
	background-image: url('../images/funktion3.jpg');
}

#funktion4 {
	background-image: url('../images/funktion4.jpg');
}

#caban1 {
	background-image: url('../images/caban1.jpg');
}

#caban2 {
	background-image: url('../images/caban2.jpg');
}

#caban3 {
	background-image: url('../images/caban3.jpg');
}

#caban4 {
	background-image: url('../images/caban4.jpg');
}

#field1 {
	background-image: url('../images/field1.jpg');
}

#field2 {
	background-image: url('../images/field2.jpg');
}

#field3 {
	background-image: url('../images/field3.jpg');
}

#field4 {
	background-image: url('../images/field4.jpg');
}

#premium1 {
	background-image: url('../images/premium1.jpg');
}

#premium2 {
	background-image: url('../images/premium2.jpg');
}

#premium3 {
	background-image: url('../images/premium3.jpg');
}

#premium4 {
	background-image: url('../images/premium4.jpg');
}

#jeans1 {
	background-image: url('../images/jeans1.jpg');
}

#jeans2 {
	background-image: url('../images/jeans2.jpg');
}

#jeans3 {
	background-image: url('../images/jeans3.jpg');
}

#jeans4 {
	background-image: url('../images/jeans4.jpg');
}